{% extends "base.html" %}
{% block title %}{{request.user.get_full_name}}'s Profile{% endblock %}
{%block content%}		
		<!-- Product Style -->
		<section class="product-area shop-sidebar shop section">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-12">
						<div class="shop-sidebar">
								<!-- Single Widget -->
								<div class="single-widget category">
									<h3 class="title">Manage Your Account</h3>
									<ul class="categor-list">
										<li><a href="{% url 'profile'%}">My Profile</a></li>
										<li><a href="{% url 'address_book' %}">Address Book</a></li>
									</ul>
                  <br>
                  <h3 class="title">My Orders</h3>
									<ul class="categor-list">
										<li><a href="{% url 'my_orders' %}">All Orders</a></li>
									</ul>
								</div>
								<!--/ End Single Widget -->
						</div>
					</div>
					<div class="col-lg-9 col-md-8 col-12">
						<div class="row">
              <div class="col-12 pl-0">
                <h3>My profile</h3>
              </div>
                            
              <div class="card col-12 mt-2">
                <div class="card-body">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">First Name:</th>
                        <td>{{customer.user.first_name}}</td>
			                </tr>
                      <tr>
                        <th scope="row">Last Name:</th>
                        <td>{{request.user.last_name}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Email:</th>
                        <td>{{customer.user.email}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Phone</th>
                        <td>{{customer.phone}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Membership</th>
                        <td>{{customer.membership}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Birth Date</th>
                        <td style="border-bottom: 1px solid #e9ecef">{{customer.Birth_date}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Gender</th>
                        <td style="border-bottom: 1px solid #e9ecef">{{customer.gender}}</td>
                      </tr>
                      <tr>
                        <th scope="row" class="pl-0">
                        	<a href="{% url 'passwordchange' %}" class="btn btn primary text-white">Change Password</a>
                        	<a href="{% url 'update-profile' %}" class="btn btn primary text-white ml-3">Update Profile</a>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!--/ End Product Style 1  -->			
{%endblock%}