{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="rating" content="General">
	<meta name="expires" content="never">
	<meta name="language" content="English, EN">
	<meta name="description" content="Shopping cart project with HTML5 and JavaScript">
	<meta name="keywords" content="ecommerce-website, t-shits, HTML5, CSS, JavaScript, html5 session storage, html5 local storage, django">
	<meta name="author" content="E-Shop">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ecom | {% block title %} {% endblock %}</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
	
	<!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Fancybox -->
	<link rel="stylesheet" href="{%static 'css/jquery.fancybox.min.css'%}">
	<!-- Themify Icons -->
    <link rel="stylesheet" href="{%static 'css/themify-icons.css' %}">
	<!-- Jquery Ui -->
    <link rel="stylesheet" href="{%static 'css/jquery-ui.css'%}">
	<!-- Nice Select CSS -->
    <link rel="stylesheet" href="{%static 'css/niceselect.css' %}">
	<!-- Animate CSS -->
    <link rel="stylesheet" href="{%static 'css/animate.css'%}">
	<!-- Flex Slider CSS -->
    <link rel="stylesheet" href="{%static 'css/flex-slider.min.css' %}">
	<!-- Owl Carousel -->
    <link rel="stylesheet" href="{%static 'css/owl-carousel.css' %}">
	<!-- Slicknav -->
    <link rel="stylesheet" href="{%static 'css/slicknav.min.css' %}">
	
	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" href="{%static 'css/reset.css'%}">
	<link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/responsive.css'%}">
</head>
<body class="js">
    
    {% include "header.html"%}
    <div class="container">
    	{% if messages %}
		    {% for message in messages %}
		        <div class="alert {{ message.tags }} d-flex align-items-center alert-dismissible fade show mt-3" role="alert" >
		            <svg class="bi flex-shrink-0 mr-2" width="24" height="24" role="img" aria-label="Info:">
		                <use xlink:href="{% if message.tags == 'alert-info' %}#info-fill{% elif message.tags == 'alert-success' %}#check-circle-fill{% elif message.tags == 'alert-danger' or message.tags == 'alert-warning' %}#exclamation-triangle-fill{% endif %}"/>
		            </svg>
		            <div>
		                {{ message }}
		            </div>
		            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		        </div>
		        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
		                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
		            </symbol>
		            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
		                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
		            </symbol>
		            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
		                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
		            </symbol>
		        </svg>
		    {% endfor %}
		{% endif %}
    </div>
	    
    {% block content %}	
    {%endblock%}

	<!-- Start Shop Newsletter  -->
	<section class="shop-newsletter section">
		<div class="container">
			<div class="inner-top">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 col-12">
						<!-- Start Newsletter Inner -->
						<div class="inner">
							<h4>Newsletter</h4>
							<p> Subscribe to our newsletter and get updates about new products</p>
							<form action="{% url 'subscribe-to-newsletter' %}" method="post" class="newsletter-inner">
								{% csrf_token %}
								<input name="EMAIL" placeholder="Your email address" required="" type="email">
								<button class="btn">Subscribe</button>
							</form>
						</div>
						<!-- End Newsletter Inner -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Newsletter -->
    <!-- Cart Modal -->
    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="Shopping-Cart-Modal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content" style="padding: 2rem;">
		      	<div class="modal-header mb-3" style="position: unset;">
		        	<h5 class="modal-title" id="Shopping-Cart-Modal">Cart</h5>
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          		<span aria-hidden="true">&times;</span>
		        	</button>
		      	</div>
		      	<form method="post" action="{% url 'checkout' %}">

		      		<div class="modal-body">
			      		{% csrf_token %}
			      		<input type="hidden" name="total-cart-items" value="0" id="id_total-cart-items">
			      		<table class="table" style="height: max-content;">
				          <thead>
				          	<tr>
					          	<th>Product</th>
					          	<th>Unit Price</th>
					          	<th style="text-align: center;">Quantity</th>
					          	<th>Total Price</th>
					          	<th>Action</th>
					        </tr>
				          </thead>
				          <tbody class="show-cart">
				          	
				          </tbody>
				        </table>
				    </div>
				    <div class="modal-footer" style="justify-content: space-between;">
				      	<strong>Total price: $<span class="total-cart"></span></strong>
				        <div>
				        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        	<button class="btn btn-primary" type="submit">Check Out</button>
				        </div>
				    </div>
		      	</form>
		    </div>
		</div>
	</div> 
	{% include "footer.html"%}

    <!-- Jquery -->
    <script src="{%static 'js/jquery.min.js'%}"></script>
    <script src="{%static 'js/jquery-migrate-3.0.0.js'%}"></script>
	<script src="{%static 'js/jquery-ui.min.js'%}"></script>
	<!-- Popper JS -->
	<script src="{%static 'js/popper.min.js'%}"></script>
	<!-- Bootstrap JS -->
	<script src="{%static 'js/bootstrap.min.js'%}"></script>
	<!-- Slicknav JS -->
	<script src="{%static 'js/slicknav.min.js'%}"></script>
	<!-- Owl Carousel JS -->
	<script src="{%static 'js/owl-carousel.js'%}"></script>
    <script src="{%static 'js/facnybox.min.js'%}"></script>
	<!-- Magnific Popup JS -->
	<script src="{%static 'js/magnific-popup.js'%}"></script>
	<!-- Waypoints JS -->
	<script src="{%static 'js/waypoints.min.js'%}"></script>
	<!-- Countdown JS -->
	<script src="{%static 'js/finalcountdown.min.js'%}"></script>
	<!-- Nice Select JS -->
	<script src="{%static 'js/nicesellect.js'%}"></script>
	<!-- Flex Slider JS -->
	<script src="{%static 'js/flex-slider.js'%}"></script>
	<!-- ScrollUp JS -->
	<script src="{%static 'js/scrollup.js'%}"></script>
	<!-- Onepage Nav JS -->
	<script src="{%static 'js/onepage-nav.min.js'%}"></script>
	<!-- Easing JS -->
	<script src="{%static 'js/easing.js'%}"></script>
	<!-- Active JS -->
	<script src="{%static 'js/active.js'%}"></script>
	<script>
		
		// ************************************************
		// Shopping Cart API
		// ************************************************

		var shoppingCart = (function() {
		  // =============================
		  // Private methods and propeties
		  // =============================
		  cart = [];
		  
		  // Constructor
		  function Item(id, name, price, count) {
		  	this.id = id;
		    this.name = name;
		    this.price = price;
		    this.count = count;
		  }
		  
		  // Save cart
		  function saveCart() {
		    sessionStorage.setItem('shoppingCart', JSON.stringify(cart));
		  }
		  
		    // Load cart
		  function loadCart() {
		    cart = JSON.parse(sessionStorage.getItem('shoppingCart'));
		  }
		  if (sessionStorage.getItem("shoppingCart") != null) {
		    loadCart();
		  }
		  

		  // =============================
		  // Public methods and propeties
		  // =============================
		  var obj = {};
		  
		  // Add to cart
		  obj.addItemToCart = function(id, name, price, count) {
		    for(var item in cart) {
		      if(cart[item].name === name) {
		        cart[item].count ++;
		        saveCart();
		        return;
		      }
		    }
		    var item = new Item(id, name, price, count);
		    cart.push(item);
		    saveCart();
		  }
		  // Set count from item
		  obj.setCountForItem = function(name, count) {
		    for(var i in cart) {
		      if (cart[i].name === name) {
		        cart[i].count = count;
		        break;
		      }
		    }
		  };
		  // Remove item from cart
		  obj.removeItemFromCart = function(name) {
		      for(var item in cart) {
		        if(cart[item].name === name) {
		          cart[item].count --;
		          if(cart[item].count === 0) {
		            cart.splice(item, 1);
		          }
		          break;
		        }
		    }
		    saveCart();
		  }

		  // Remove all items from cart
		  obj.removeItemFromCartAll = function(name) {
		    for(var item in cart) {
		      if(cart[item].name === name) {
		        cart.splice(item, 1);
		        break;
		      }
		    }
		    saveCart();
		  }

		  // Clear cart
		  obj.clearCart = function() {
		    cart = [];
		    saveCart();
		  }

		  // Count cart 
		  obj.totalCount = function() {
		    var totalCount = 0;
		    for(var item in cart) {
		      totalCount += cart[item].count;
		    }
		    return totalCount;
		  }

		  // Total cart
		  obj.totalCart = function() {
		    var totalCart = 0;
		    for(var item in cart) {
		      totalCart += cart[item].price * cart[item].count;
		    }
		    return Number(totalCart.toFixed(2));
		  }

		  // List cart
		  obj.listCart = function() {
		    var cartCopy = [];
		    for(i in cart) {
		      item = cart[i];
		      itemCopy = {};
		      for(p in item) {
		        itemCopy[p] = item[p];

		      }
		      itemCopy.total = Number(item.price * item.count).toFixed(2);
		      cartCopy.push(itemCopy)
		    }
		    return cartCopy;
		  }

		  return obj;
		})();


		// *****************************************
		// Triggers / Events
		// ***************************************** 
		// Add item
		$('.add-to-cart').click(function(event) {
		  event.preventDefault();
		  var name = $(this).data('name');
		  var price = Number($(this).data('price'));
		  var id = Number($(this).data('id'));
		  shoppingCart.addItemToCart(id, name, price, 1);
		  displayCart();
		});

		// Clear items
		$('.clear-cart').click(function() {
		  shoppingCart.clearCart();
		  displayCart();
		});


		function displayCart() {
		  var cartArray = shoppingCart.listCart();
		  console.log('Items: '+shoppingCart.listCart().length);
		  $('#id_total-cart-items').val(shoppingCart.listCart().length);
		  var output = "";
		  for(var i in cartArray) {
		    output += "<tr>"
		      + "<td style='width:20%; max-height: 30px !important;'><input type='hidden' disable style='border: none;' name='cart_item_number_" + i + "_id'  class='form-control' data-id='" + cartArray[i].id + "' value='" + cartArray[i].id + "'><input type='text' disable style='border: none;' name='cart_item_number_" + i + "_title'  class='form-control' data-name='" + cartArray[i].name + "' value='" + cartArray[i].name + "'></td>" 
		      + "<td style='width:10%; max-height: 30px !important;'>" + cartArray[i].price + "$</td>"
		      + "<td style='width:45%; max-height: 30px !important;'><div class='input-group'>"
		      + "<input type='number' name='cart_item_number_" + i + "_quantity' style='width:min-content; text-align:center' class='item-count form-control' data-name='" + cartArray[i].name + "' value='" + cartArray[i].count + "'>"
		      + "</div></td>"
		      + " = "
		      + "<td style='width:15%; max-height: 30px !important;'>" + cartArray[i].total + "</td>" 
		      + "<td style='width:10%; max-height: 30px !important;'><button class='delete-item btn btn-danger' data-name='" + cartArray[i].name + "'>X</button></td>"
		      +  "</tr>";
		  }
		  $('.show-cart').html(output);
		  $('.total-cart').html(shoppingCart.totalCart());
		  $('.total-count').html(shoppingCart.totalCount());
		}

		// Delete item button

		$('.show-cart').on("click", ".delete-item", function(event) {
		  var name = $(this).data('name')
		  shoppingCart.removeItemFromCartAll(name);
		  displayCart();
		})

		// Item count input
		$('.show-cart').on("change", ".item-count", function(event) {
		   var name = $(this).data('name');
		   var count = Number($(this).val());
		  shoppingCart.setCountForItem(name, count);
		  displayCart();
		});

		displayCart();

	</script>
</body>
</html>